= link_to t('admin.purchase.attributes.pending'), admin_purchases_path(status: 'pending'),
                                                   class: 'btn btn-warning mb-3'
= link_to t('admin.purchase.attributes.processing'), admin_purchases_path(status: 'processing'),
                                                   class: 'btn btn-primary mb-3'
= link_to t('admin.purchase.attributes.complete'), admin_purchases_path(status: 'completed'),
                                                   class: 'btn btn-success mb-3'
%hr

%table.table.table-striped
  %thead
    %tr
      %th
        = t('admin.purchase.attributes.date')
      %th.d-none.d-lg-table-cell
        = t('admin.purchase.attributes.user')
      %th.d-none.d-lg-table-cell
        = t('admin.purchase.attributes.total_price')
      %th
        = t('admin.purchase.attributes.status')
      %th
  %tbody
    - @purchases.each do |purchase|
      %tr
        %td.d-none.d-lg-table-cell
          = purchase.datetime_format(purchase.ordered_at)
        %td.d-none.d-lg-table-cell
          #{purchase.with_deleted_user.full_name} (#{purchase.with_deleted_user.email})
        %td
          = purchase.amount_with_deleted_items
        %td
          = purchase_status(purchase)
        %td.text-right
          - if policy([:admin, purchase]).complete?
            = link_to admin_purchase_complete_path(purchase),
                      method: :post,
                      class: 'create inline-block m-1',
                      data: { confirm: t('admin.purchase.messages.complete_confirmation') },
                      title: t('admin.purchase.actions.complete') do
              .fas.fa-check
          = link_to admin_purchase_orders_path(purchase),
                    class: 'edit inline-block m-1',
                    title: t('admin.purchase.actions.order_details') do
            .far.fa-clipboard
          = link_to admin_purchase_path(purchase),
                    class: 'delete inline-block m-1',
                    method: :delete,
                    data: { confirm: t('shared.messages.confirm') },
                     title: t('admin.purchase.actions.delete') do
            .fas.fa-trash-alt

.text-center
  .inline-block
    = will_paginate(@purchases, renderer: WillPaginate::ActionView::BootstrapLinkRenderer)
