= render partial: 'back_btn', locals: { category: category }

.admin-form.mb-5
  = simple_form_for @item, url: url do |f|
    = f.input :name
    = f.input :description, input_html: { rows: 6 }
    = f.input :price
    = f.association :category
    .mb-2
      #{t('activerecord.attributes.item_photo.photo')}:
    = render partial: 'item_photos', locals: { f: f }
    .actions
      = f.submit t('admin.item.actions.save'), class: 'btn btn-success'
