%table.table.table-striped
  %thead
    %tr
      %th
        = t('admin.item.attributes.name')
      %th.d-none.d-md-block
        = t('admin.item.attributes.description')
      %th
        = t('admin.item.attributes.price')
      %th.d-none.d-md-block
        = t('admin.item.attributes.category')
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.name, admin_category_item_path(item.category, item)
        %td.d-none.d-md-block= item.description.truncate(30)
        %td= t('item.helpers.price', price: item.price)
        %td.d-none.d-md-block= category_name(item.category)
        %td
          .btn-group
            = link_to edit_admin_category_item_path(item.category, item), class: 'btn btn-primary' do
              .fas.fa-edit
            = link_to admin_category_item_path(item.category, item), method: :delete, class: 'btn btn-danger' do
              .fas.fa-trash-alt
