- title(t('shared.admin.items'))

.row.mb-3
  .col-4.text-left
    .d-block.d-sm-block.d-md-none
      %h4= category_name(@category)
  .col-8.text-right
    = link_to new_admin_category_item_path(@category), class: 'btn btn-success mr-2' do
      = t('admin.item.actions.add')
      .fas.fa-plus
    = link_to t('shared.actions.back'), admin_categories_path, class: 'btn btn-light d-none d-md-block inline-block'

= render 'items_table'
