.row
  .col-sm-12
    .bg-secondary.text-white
      = t('admin.item.titles.index')
      .fas.fa-angle-double-right

%table.table
  %thead.thead-dark
    %tr
      %th
        = t('admin.item.attributes.name')
      %th
        = t('admin.item.attributes.description')
      %th
        = t('admin.item.attributes.price')
      %th
        = t('admin.item.attributes.category')
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.description
        %td= item.price
        %td= item.category.name
        %td
          .btn-group
            = link_to edit_admin_item_path(item), class: 'btn btn-primary' do
              .fas.fa-edit
            = link_to admin_item_path(item), method: :delete, class: 'btn btn-danger' do
              .fas.fa-trash-alt

.row
  .col-sm-4
  .col-sm-4
    %center
      = link_to new_admin_item_path, class: 'btn btn-success' do
        .fas.fa-plus
        = t('admin.item.actions.add')
  .col-sm-4
