- page_cols(lg: 6, md: 10, sm: 12)
- title(@item.name)
= render partial: 'back_btn', locals: { category: @category }

.row
  .col-md-2
    %strong #{t('admin.item.attributes.name')}:
  .col-md-10
    = @item.name
.row
  .col-md-2
    %strong #{t('admin.item.attributes.price')}:
  .col-md-10
    = t('item.helpers.price', price: @item.price)
.row
  .col-md-2
    %strong #{t('admin.item.attributes.description')}:
  .col-md-10
    = @item.description
