.navbar.navbar-expand-sm.bg-dark.navbar-dark
  = link_to 'Logo', root_path, class: 'navbar-brand'
  .navbar-nav
    .nav-item
      = link_to admin_categories_path, class: 'nav-link' do
        .fas.fa-book
        = t('shared.admin.categories')
    .nav-item
      = link_to admin_items_path, class: 'nav-link' do
        .fas.fa-tag
        = t('shared.admin.items')
    .nav-item
      = link_to admin_purchases_path, class: 'nav-link' do
        .fas.fa-clipboard-list
        = t('shared.admin.purchases')
    .nav-item
      = link_to admin_users_path, class: 'nav-link' do
        .fas.fa-user
        = t('shared.admin.users')
  - if user_signed_in?
    .ml-auto
      .navbar-nav
        .nav-item
          = link_to carts_path, class: 'nav-link' do
            .fas.fa-shopping-cart
            = t('shared.navbar.cart')
        .nav-item.dropdown
          = link_to '#', class: 'nav-link dropdown-toggle', id: 'navbardrop', data: { toggle: 'dropdown' } do
            .fas.fa-user
            = current_user.full_name
          .dropdown-menu
            = link_to my_account_path, class: 'dropdown-item' do
              .fas.fa-cogs
              = t('shared.navbar.my_account')
            = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
              .fas.fa-sign-out-alt
              = t('shared.navbar.logout')
  - else
    .ml-auto
      .navbar-nav
        .nav-item
          = link_to new_user_session_path, class: 'nav-link' do
            .fas.fa-sign-in-alt
            Login
= yield
