.navbar.navbar-expand-sm.bg-dark.navbar-dark
  = link_to 'Logo', root_path, class: 'navbar-brand'
  .navbar-nav
    .nav-item
      = link_to admin_categories_path, class: 'nav-link' do
        .fas.fa-book
        Categories
    .nav-item
      = link_to admin_items_path, class: 'nav-link' do
        .fas.fa-tag
        Items
    .nav-item
      = link_to admin_purchases_path, class: 'nav-link' do
        .fas.fa-clipboard-list
        Purchases
    .nav-item
      = link_to admin_users_path, class: 'nav-link' do
        .fas.fa-user
        Users
  - if user_signed_in?
    .ml-auto
      .navbar-nav
        .nav-item
          = link_to carts_path, class: 'nav-link' do
            .fas.fa-shopping-cart
            Cart
        .nav-item.dropdown
          = link_to '#', class: 'nav-link dropdown-toggle', id: 'navbardrop', data: { toggle: 'dropdown' } do
            .fas.fa-user
            = current_user.full_name
          .dropdown-menu
            = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
              .fas.fa-sign-out-alt
              Logout
  - else
    .ml-auto
      .navbar-nav
        .nav-item
          = link_to new_user_session_path, class: 'nav-link' do
            .fas.fa-sign-in-alt
            Login
