.container-fluid
  .row.flex-xl-nowrap
    .col-12.col-md-3.col-xl-2.bd-sidebar.categories
      %nav.navmenu
        .navmenu-header
          .fas.fa-bars
          Categories
        = link_to root_path do
          .navmenu-item
            All Items
        - @categories.each do |category|
          = link_to category_path(category) do
            .navmenu-item
              = category.name
    %main.col-12.col-md-9.col-xl-8.py-md-3.pl-md-5.bd-content{ role: 'main' }
      = render 'partials/flash'
      = yield
