.row
  - items.each do |item|
    .col-sm-4
      - order = item.order(purchase, current_user)
      .item{ data: { item: { id: item.id }, order: { id: order ? order.id : nil } } }
        .item-header
          = link_to item.name, item_path(item), class: 'item-link'
        .item-photo
          - if item.active_photo
            = image_tag item.thumb_url
          - else
            .fas.fa-images
            = t('item.messages.no_image')
        .item-price
          = t('item.helpers.price', price: item.price)
        .item-action
          .plus-minus{ class: order ? '' : 'd-none' }
            = icon('fas', 'minus-square', class: 'fa-2x carts-btn cursor item-minus')
            %span.quantity= order&.quantity
            = icon('fas', 'plus-square', class: 'fa-2x carts-btn cursor item-plus')
          .add-item{ class: order ? 'd-none' : '' }
            %a.cursor.item-button
              .fas.fa-cart-plus
              = t('item.actions.add_to_cart')
.text-center
  .inline-block
    = will_paginate(items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer)
