%table.table.table-striped
  %thead
    %tr
      %th
        = t('admin.order.attributes.item')
      %th
        = t('admin.order.attributes.price')
  %tbody
  - orders.each do |order|
    %tr
      %td= order_item(order.with_deleted_item, purchase)
      %td= order.with_deleted_item.old_price(purchase.ordered_at)

.text-center
  .inline-block
    = will_paginate(orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer)
