- page_cols(8)
- title(t('admin.order.titles.index'))

%div
  %strong #{t('admin.purchase.attributes.date')}:
  = @purchase.datetime_format(@purchase.ordered_date)
%div
  %strong #{t('admin.purchase.attributes.status')}:
  = purchase_status(@purchase)
%div.inline-block
  %strong #{t('admin.purchase.attributes.user')}:
  = customer(@purchase.with_deleted_user, @purchase)
%div.mb-4
  %strong #{t('admin.purchase.attributes.total_price')}:
  = @purchase.amount_with_deleted_items

.row
  .col-9
    .input-group
      %input.form-control.admin-searchbar.order-searchbar{ type: 'search', placeholder: t('shared.navbar.search') }
      .search-icon
        %i.fas.fa-search
  .col-3.text-right
    = link_to t('shared.actions.back'), admin_purchases_path, class: 'btn btn-light'
%hr

.orders-list.table-responsive{ data: { purchase: { id: @purchase.id } } }
  = render partial: 'orders_list', locals: { orders: @orders, purchase: @purchase }
