- page_cols(sm: 12, lg: 6, xl: 5)
- title(t('user.titles.forgot_your_password'))

.shadow-sm.auth-form
  %h2= t('user.titles.forgot_your_password')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true
    .form-actions.text-center
      = f.button :submit, t('user.actions.send_me'), class: 'btn auth-btn-primary'
  .text-center.mt-3
    = render 'users/shared/links'
