.col-sm-12
  .page_head= @category.name
  .items-list
    - if @category.items.present?
      .row
        - @category.items.includes(:items).each do |item|
          .col-sm-4
            .item
              .item-header= item.name
              .item-photo
                .fas.fa-images
                = t('item.messages.no_image')
              .item-price
                = t('item.helpers.price', price: item.price)
              = link_to orders_path(item_id: item.id), method: 'POST' do
                .item-button
                  .fas.fa-cart-plus
                  = t('item.actions.add_to_cart')
    - else
      %center
        .notice-info
          .fas.fa-exclamation-circle
          = t('category.messages.no_items')
