.row
  .col-sm-12
    .bg-secondary.text-white
      = t('admin.user.titles.index')
      .fas.fa-angle-double-right

%table.table
  %thead.thead-dark
    %tr
      %th
        = t('admin.user.attributes.name')
      %th
        = t('admin.user.attributes.email')
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.full_name
        %td
          = user.email
        %td
          = link_to admin_user_path(user), method: :delete, class: 'btn btn-danger' do
            .fas.fa-trash-alt
