- page_cols(md: 12, lg: 8)
- title(@user.full_name)

= link_to t('shared.actions.back'), admin_users_path, class: 'btn btn-light'

%hr
%p
  %strong #{t('admin.user.attributes.name')}:
  = @user.full_name
%p
  %strong #{t('admin.user.attributes.role')}:
  %span.badge.badge-warning
    %i.far.fa-circle
    = t("admin.user.roles.#{@user.role}")

- %w[email phone country city address zip_code].each do |attr|
  %p
    %strong #{t("admin.user.attributes.#{attr}")}:
    = @user.send(attr)
