!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' }
    %title MarkEngine
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ data: { area: 'admin-panel',
                 page: "Admin#{controller_name.camelize}#{action_name.camelize}",
                 controller: body_controller } }
    = render layout: 'partials/admin_navbar' do
      .nav-path
        = t("admin.#{controller_name.singularize}.titles.#{action_name}")
        .fas.fa-angle-double-right
        = t("admin.#{controller_name.singularize}.action.#{action_name}")
    .container-fluid
      = yield
