!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' }
    %title
      MarktEngine
      = indent_title_section(yield :title) if content_for?(:title)
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oswald:200,300,400|PT+Sans+Narrow|Yanone+Kaffeesatz'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ data: { area: 'markt-panel',
                 page: controller_name.camelize + action_name.camelize,
                 controller: body_controller } }
    = render partial: 'partials/main_navbar', locals: { purchase: @purchase }
    - if @categories
      .container-fluid.wrapper
        .row
          = render 'partials/navmenu'
          %main.col-12.col-lg-9{ role: 'main' }
            = render 'partials/flash'
            = yield
    - else
      .container.mt-2.wrapper
        = render 'partials/flash'
        .row.justify-content-center
          %div{ class: content_for?(:main_row_class) ? yield(:main_row_class) : 'col-12' }
            = yield

    = yield :modals if content_for? :modals
    = render partial: 'partials/message_modal'

    %footer.bd-footer
      .container
        .text-right
          = link_to '#', class: 'dropdown-toggle link-a',
                   id: 'language',
                   aria: { expanded: 'false', haspopup: 'true' },
                   data: { toggle: 'dropdown' } do
            = t('shared.language.switch')
          .dropdown-menu{ aria: { labelledby: 'navbarDropdown' } }
            - I18n.available_locales.each do |lang|
              = link_to languages[lang], locales_path(locale: lang),
                        class: 'dropdown-item link-a',
                        method: :put,
                        data: { confirm: t('shared.messages.confirm') }
